[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 154693000+bhupesh45@users.noreply.github.com
	; email = 75159891+bhupesh7387@users.noreply.github.com
	name = Bhupesh Rawat
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
